<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/drop-down-menu.css">
</head>

<body>
      <!-- Header -->
  <header>
    <div class="new-page-button" id="logo">PutOn</div>
    <nav>
      <ul>
        <li><a href="#" class="new-page-button">EXPLORE</a></li>
        <li><a href="#" class="new-page-button">BUILD OUTFIT</a></li>
        <li><a href="#" class="new-page-button">VIRTUAL WARDROBE</a></li>
        <li><a href="#" class="new-page-button">WISHLIST</a></li>
      </ul>
    </nav>

    <div class="user-info">
      <img src="/assets/images/icons/search.png" alt="search button" class="search-button">

      <div class="user-dropdown">
        <img src="/assets/images/icons/user.png" alt="user button" class="user-button" id="header-user-button">
        <div class="dropdown-menu">
          <div class="dropdown-header">
            <div class="dropdown-title">
              <img src="/assets/images/icons/user.png" alt="user button" class="user-button" id="black-user-button">
              <p class="sign-in">Sign in</p>
            </div>
            <p class="create-account"><u>CREATE ACCOUNT</u></p>
          </div>

          <p class="incorrect-sign-in-message">Sorry, this does not match our records. Check your spelling and try again.</p>

          <input type="text" placeholder="* EMAIL ADDRESS" class="sign-in-box" id="sign-in-email">
          <input type="text" placeholder="* PASSWORD" class="sign-in-box" id="sign-in-password">

          <div class="dropdown-password">
            <p class="forgot-password-button"><u>Forgot Password?</u></p>
            <p id="required">*Required</p>
          </div>

          <div class="dropdown-info">
            <div class="remember-me">
              <input type="checkbox" checked>
              <p>Remember me</p>
            </div>
            <p id="details"><u>Details</u></p>
          </div>

          <button class="sign-in-button">SIGN IN</button>
        </div>
      </div>

      <img src="/assets/images/icons/support.png" alt="support button" class="support-button">
      <img src="/assets/images/icons/globe.png" alt="region/language button" class="region-button">

      <p class="message"></p>
    </div>
  </header>
</body>